<div class="container">
    <div class="page-header">
        <h1>
            <a ui-sref="masterfiles">Masterfiles</a>
            &gt;
            Role
        </h1>
    </div>

    <a class="btn btn-success" ui-sref="role-create">
		<i class="fa fa-plus"></i>
		Add Role
	</a>
	
	<p>&nbsp;</p>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="item in dataList">
                <th scope="row">{{$index + 1}}</th>
                <td>{{item.Name}}</td>
                <td>
                    <a class="" ui-sref="role-edit({ id : item.Id})"><i class="glyphicon glyphicon-indent-left"></i> Edit</a>
                </td>
            </tr>
        </tbody>
    </table>

</div><!-- /.container -->