@model healthsystems.fct.data.Registration
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>

    <ul>
    	<li> @Model.Id</li>
    	<li> @Model.</li>
    </ul>

   

</head>
<body>
</body>
</html>

