<div class="container">
    <div class="page-header">
        <h1>Dashboard</h1>
    </div>

    <div class="row dashboard-content">
        <div class="col-md-3">
            <i class="fa fa-file-text-o fa-4"></i>
            <h2>Registration</h2>
            <p>Register a new health establishment on the system.</p>
            <p><a class="btn btn-default" ui-sref="registration" role="button">Go »</a></p>
        </div><!-- /.col-md-3 -->
        <div class="col-md-3">
            <i class="fa fa-search fa-4"></i>
            <h2>Search</h2>
            <p>Search for existing registered health establishments.</p>
            <p><a class="btn btn-default" ui-sref="search" role="button">Go »</a></p>
        </div><!-- /.col-md-3 -->
        <div class="col-md-3">
            <i class="fa fa-money fa-4"></i>
            <h2>Payments</h2>
            <p>Query all payment recorded in the system and make payments.</p>
            <p><a class="btn btn-default" ui-sref="payments" role="button">Go »</a></p>
        </div><!-- /.col-md-3 -->
        <div class="col-md-3">
            <i class="fa fa-money fa-4"></i>
            <h2>Masterfiles</h2>
            <p>Manage all the masterfiles in the system.</p>
            <p><a class="btn btn-default" ui-sref="masterfiles" role="button">Go »</a></p>
        </div><!-- /.col-md-3 -->
    </div>

</div><!-- /.container -->
