<div class="container">
    <div class="page-header">
        <h1>Manage masterfiles</h1>
    </div>
	<p class="h4">
		Click on any of the following to manage them:
	</p>
	<div class="bs-example">
		<div class="list-group">
			<a ui-sref="user" class="list-group-item">
				<span class="glyphicon glyphicon-camera"></span> Users
				<p class="list-group-item-text">Manage User details</p>
			</a>
			<a ui-sref="role" class="list-group-item">
				<span class="glyphicon glyphicon-file"></span> Roles
				<p class="list-group-item-text">Manage roles</p>
			</a>
		    <a ui-sref="permission" class="list-group-item">
		        <span class="glyphicon glyphicon-music"></span> Permission
		        <p class="list-group-item-text">Manage Role permissions</p>
		    </a>
		    <a ui-sref="location" class="list-group-item">
		        <span class="glyphicon glyphicon-music"></span> Locations
		        <p class="list-group-item-text">Manage Location entries</p>
		    </a>
			<a ui-sref="staffing" class="list-group-item">
				<span class="glyphicon glyphicon-music"></span> Staffing
				<p class="list-group-item-text">Manage Staffing entries</p>
			</a>
		    <a ui-sref="service" class="list-group-item">
		        <span class="glyphicon glyphicon-music"></span> Services
		        <p class="list-group-item-text">Manage Services entries</p>
		    </a>
		    <a ui-sref="category" class="list-group-item">
		        <span class="glyphicon glyphicon-music"></span> Categories
		        <p class="list-group-item-text">Manage Category entries</p>
		    </a>
            <a ui-sref="costing" class="list-group-item">
                <span class="glyphicon glyphicon-music"></span> Costing
                <p class="list-group-item-text">Manage Costing entries</p>
            </a>
            <a ui-sref="typeofestablishment" class="list-group-item">
                <span class="glyphicon glyphicon-music"></span> Type Of Establishment
                <p class="list-group-item-text">Manage Type Of Establishment entries</p>
            </a>
            <a ui-sref="professionalbody" class="list-group-item">
                <span class="glyphicon glyphicon-music"></span> Professional Body
                <p class="list-group-item-text">Manage Professional Body entries</p>
            </a>
		</div>
	</div>
	
</div><!-- /.container -->
