<div class="container">

    <div class="page-header">
        <h1>
			<a ui-sref="dashboard">Dashboard</a>
			&gt;
			Payments
		</h1>
    </div>

    <div class="row dashboard-content">
	
        <div class="col-md-4">
            <i class="fa fa-search fa-4"></i>
            <h2>Make Payment</h2>
            <p>Perform payments on new Registrations and Renewals.</p>
            <p><a class="btn btn-default" ui-sref="makepayment" role="button">Go »</a></p>
        </div><!-- /.col-md-3 -->
		
		<div class="col-md-4">
            <i class="fa fa-file-text-o fa-4"></i>
            <h2>Payment Enquiry</h2>
            <p>Search for payments made and print receipts.</p>
            <p><a class="btn btn-default" ui-sref="enquiry" role="button">Go »</a></p>
        </div><!-- /.col-md-3 -->
		
        <div class="col-md-4">
            <i class="fa fa-money fa-4"></i>
            <h2>Outstanding</h2>
            <p>Registrations and renewals with outstanding payments.</p>
            <p><a class="btn btn-default" ui-sref="outstanding" role="button">Go »</a></p>
        </div><!-- /.col-md-3 -->
		
    </div>

</div><!-- /.container -->
