<?xml version="1.0"?>
<bundleConfig ignoreIfDebug="true" ignoreIfLocal="true">
  <cssBundles>
    <add bundlePath="~/css/shared">
        <files>
			<add filePath="~/bower_components/bootstrap/dist/css/bootstrap.css"></add>
			<add filePath="~/bower_components/font-awesome/css/font-awesome.css"></add>
			<add filePath="~/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.css"></add>
			<add filePath="~/bower_components/toastr/toastr.css"></add>
			<add filePath="~/Content/css/dashboard.css"></add>
			<add filePath="~/Content/css/site.css"></add>
			<add filePath="~/Content/css/table-style.css"></add>
        </files>
    </add>
  </cssBundles>
  <jsBundles>
    <add bundlePath="~/js/shared">
      <files>
		<add filePath="~/Content/js/html5shiv.min.js"></add>
		<add filePath="~/Content/js/respond.min.js"></add>

		<add filePath="~/bower_components/jquery/dist/jquery.js"></add>
	    <add filePath="~/bower_components/angular/angular.js"></add>
	    <add filePath="~/bower_components/bootstrap/dist/js/bootstrap.js"></add>
	    <add filePath="~/bower_components/underscore/underscore.js"></add>
		<add filePath="~/Content/js/ie10-viewport-bug-workaround.js"></add>
	    <add filePath="~/bower_components/angular-ui-router/release/angular-ui-router.js"></add>
	    <add filePath="~/bower_components/angular-smart-table/dist/smart-table.js"></add>
	    <add filePath="~/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></add>

		<add filePath="~/bower_components/bootstrap-validator/dist/validator.js"></add>
		<add filePath="~/bower_components/moment/moment.js"></add>
		<add filePath="~/bower_components/jquery.inputmask/dist/jquery.inputmask.bundle.js"></add>
		<add filePath="~/bower_components/ngmodel-format/src/ngmodel.format.js"></add>
		<add filePath="~/bower_components/toastr/toastr.js"></add>

	    <add filePath="~/Content/js/app.js"></add>
	    <add filePath="~/Content/js/routes.js"></add>

	    <add filePath="~/Content/js/factories/AuthTokenFactory.js"></add>
	    <add filePath="~/Content/js/factories/AuthInterceptorFactory.js"></add>

	    <add filePath="~/Content/js/factories/LoginFactory.js"></add>
	    <add filePath="~/Content/js/factories/DashboardFactory.js"></add>
	    <add filePath="~/Content/js/factories/masterfiles/UserFactory.js"></add>

	    <add filePath="~/Content/js/controllers/LoginController.js"></add>
	    <add filePath="~/Content/js/controllers/DashboardController.js"></add>
	    <add filePath="~/Content/js/controllers/MasterfileController.js"></add>
	    <add filePath="~/Content/js/controllers/masterfiles/user/UserController.js"></add>
	    <add filePath="~/Content/js/controllers/masterfiles/user/UserManageController.js"></add>
      </files>
    </add>
  </jsBundles>
</bundleConfig>
